footer {
  display: flex;
  justify-content: center;
  color: black;
}

a {
  color: black;
  text-decoration: auto;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
  text-align: center;
  align-items: center;
}
